<html>
  <head>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.native/0.9.3/bootstrap-native.min.js"></script>
    <script type='text/javascript' src='/js/Main.js'></script>
    <link rel='stylesheet' type='text/css', href='/css/base.css'></link>
  </head>
  <body>
    <div id='js-app'></div>
    <script type='text/javascript'>

Elm.embed(Elm.Main, document.getElementById('js-app'));

    </script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.native/0.9.3/bootstrap-native.min.js"></script>
  </body>
</html>
